body {
	position: relative;
}

.alphabet {
	background-color: #fff;
	border-bottom: #000 solid 3px;
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	padding: 16px 16px;
	left: 0px;
	right: 0px;
	top: 0px;
}

.alphabet .symbol-wrapper {
	width: 64px;
}

.corpus {
	display: flex;
	margin-top: 100px;
}

.text:not(.verified) {
	background-color: #fcc;
	color: #000;
}

.text {
	background-color: #444;
	border: solid 2px #000;
	color: #fff;
	display: flex;
	height: fit-content;
	padding: 4px;
	margin: 0px 8px;
}

.column {
	display: flex;
	flex-direction: column;
}

.symbol-wrapper {
	display: flex;
	height: 16px;
	margin: 3px;
	width: 32px;
}

.symbol {
	display: inline-block;
	border: solid 1px black;
	min-height: 16px;
	image-rendering: pixelated;
	margin: 2px;
	min-width: 16px;
}

.translated-symbol {
	display: inline-block;
	white-space: nowrap;
}